<%- include('../partials/navbar.ejs') %>
<div class="container center">
    <form action="/student" method="GET">
        <div class="input-group">
            <div class="form-input-group f99">
                <input required value="<%= searchedData.name %>" class="form-input" type="text" id="search" name="name"
                    placeholder="Search a student">
            </div>
            <div class="input-group-append">
                <button class="anchor-button append-button" type="submit">Search</button>
            </div>
        </div>
    </form>

</div>
<div class="container center">
    <div class="row">
        <!-- render the all students details -->
        <% students.forEach(student=>{ %>
        <div class="md-6">
            <div class="card">
                <div class="left">
                    <img class="card-logo" src="<%= student.studentImage %> " alt="">
                </div>
                <div class="right">
                    <div class="right-top">
                        <div class="content-container">
                            <h6 class="card-headline"> <%= student.name %> </h6>
                            <p class="body2 card-body wrapping">
                                <b>Course:</b> <%= student.course %> <br>
                                <b>Email:</b> <%= student.email %> <br>
                                <b>Phone:</b> <%= student.phone %>
                            </p>
                        </div>

                        <p class="overline card-overline">Mouse over the card form more info</p>
                    </div>
                    <div class="right-bottom">
                        <div class="fill-container">
                            <div class="content-container">
                                <h6 class="card-headline"><%= student.name %></h6>
                                <p class="body2 card-body">Lorem </p>
                            </div>
                            <div class="button-container">
                                <a class="anchor-button card-button a-small"
                                    href="/student/<%=student.id%>"><span>Visit</span></a>
                                <% if (user.role!='user') {%>
                                <a class="anchor-button card-button a-small"
                                    href="/update/<%=student.id%>"><span>Edit</span></a>
                                <%}  %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<script defer>
    window.onload = load();
    window.onresize = load();
    function load() {
        if (window.innerWidth <= 432) {
            const cards = document.querySelectorAll('.card')
            console.log(window.innerWidth - 2 * 8)
            cards.forEach(card => {
                card.style.setProperty('--card-width', window.innerWidth - 2 * 16 + 'px')
            })
        }
    }
</script>