<%- include('../partials/navbar.ejs') %>
<div class="container" style="margin-top: 20px ;">
    <div class="card" style="width: 100%; max-width: 400px; margin: 0 auto;">
        <img class="card-img-top" src="<%= student.studentImage %> " alt="Card image cap">
        <div class="card-body">
            <!-- display all the details about the student -->
            <h4 class="card-title"><%= student.name %> </h4>
            <p class="card-text"><b>Degree: </b><%= student.degree %> </p>
            <p class="card-text"><b>Email: </b><%= student.email %> </p>
            <p class="card-text"><b>Phone: </b><%= student.phone %> </p>
            <a href="/student" class="btn btn-primary">Back</a>
            <a href="/update/<%=student.id%>" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>