<%- include('../partials/navbar.ejs') %>
<div class="container">
    <div class="box headline-border">
        <h6 class="box-heading bottom-border">Read The Document</h6>
        <p class="body1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos aut blanditiis
            provident est soluta dolore enim porro repudiandae sequi?</p>
    </div>
    <div class="box">
        <input hidden id="hiddenInput" value="<%= student.studentImage %>" type="text">
        <!-- Form -->
        <form action="/update/<%= student.id %>" method="POST">
            <!-- Form headlines -->
            <h6 class="form-branding">Update Student</h6>
            <% if (locals.messages.msg) { %>
            <div class="alert alert-danger">
                <span class="closeBtn" onclick="alertClose(this)">&times;</span>
                <%=locals.messages.msg%>
            </div>
            <% } %>
            <%- include('_form_fields') %>
            <!-- form input button -->
            <input class="form-button" type="submit" value="Update">
            <!-- form text group -->
            <div class="form-text-group">
                <p>All students </p><a href="/student">Go To</a>
            </div>
        </form>
        <!-- Form -->
    </div>
</div>
<%- include('../partials/scripts') %>